{% extends '../index_master.html' %}
{% block content %}

<div class="right_col" role="main">

    <div class="container mt-5">
        <h2>Agregar Nuevo Producto</h2>
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
              <label for="nombre">Nombre</label> 
              <input id="nombre" name="nombre" type="text" required="required" class="form-control">
            </div>
            <div class="form-group">
              <label for="descripcion">Descripcion</label> 
              <textarea id="descripcion" name="descripcion" cols="40" rows="5" required="required" class="form-control"></textarea>
            </div>
            <div class="form-group">
              <label for="precio">Precio</label> 
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text">
                    <i class="fa fa-dollar"></i>
                  </div>
                </div> 
                <input id="precio" name="precio" type="number" step="0.01" required="required" class="form-control">
              </div>
            </div>
            <div class="form-group">
              <label for="stock">Stock</label> 
              <input id="stock" name="stock" type="number" required="required" class="form-control">
            </div>
            <div class="form-group">
              <label for="categoria">Categoria</label> 
              <div>
                <select id="categoria" name="categoria" class="custom-select" required="required">
                    <option value="" selected>Sin categoría</option>
              {% for c in categorias %}
                <option value="{{ c.id }}">{{ c.nombre }}</option>
              {% endfor %}
                </select>
              </div>
            </div> 
            <div class="form-group">
              <button name="submit" type="submit" class="btn btn-primary">Submit</button>
              <a href="{% url 'productos' %}" class="btn btn-secondary">Cancelar</a>
            </div>
          </form>
        
        
      </div>
















</div>
<!-- /page content -->
{% endblock %}